.preco{
         
        
          padding: 0.5rem;
          
          background: #52d4fc;;
          color: #0a4a9e;
          
          font-Size: 3rem,;
          font-Weight: bold;
          font-family: Arial, Helvetica, sans-serif;
          border-Radius: 5px;
      
}