
.link:hover{
          background-color: #afafaf;
          color: aliceblue;
}

/* .display{
          display: flex;
          justify-content:center;
}
.display2{
          display: flex;
         justify-items: center;
      
         .card{
         
                  
         }
} */



.tituloProd{
          display: flex;
          justify-content: center;
          align-items: center;
}
h3{
          display: flex;
          justify-content: center;
          align-items: center;
}

